:root{
    --vermelho:#E50914;
    --preta:#141414;
    --verde:#34be28;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .titulo{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header nav a{
    text-decoration: none;
    color: #000;
    
}
