*{
    margin: 0;
    padding: 0;
    text-align: center;
}

/*Index CSS*/

.sobre{
    padding: 20px;
    text-align: justify;
}
.sobre h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.gameplay{
    padding: 20px;

}
.gameplay h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.reco{
    padding: 20px;
}
.reco h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/*contato CSS*/
